@page "/pullRequest"


<div class="container mx-auto" 
     style="display: block; width: 60%">

    <div id="TITLE_SECTION">

        <h1 class="card-title fw-bold">Pull Request Generator (Coming soon)</h1>
        <h5 class="card-subtitle mb-5 opacity-50">Use this form to generate a well informed Pull Request</h5>

    </div>

 </div>


@code {

}
